
.slideshow {
    max-width: 80%;
    text-align: center;
}
.Surgeon {
    width: 100%;

    max-width: 500px;
    position: absolute;

    z-index: 2;
    margin: auto;

}

.background-image
{
    height: 100%;
    background-image: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=pexels-pixabay-531880.jpg&fm=jpg");

    filter: blur(8px);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}